body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
	background-size: cover;
	background-position: center;
	font-weight: 300;
	position: relative;
	height: 100vh;
	color: #555;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}