body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url('dice.png');
	background-size: cover;
	background-position: center;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	height: 100vh;
	position: relative;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrapper {
	/*background-color: #fff;*/
	-webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: 1000px;
}
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}
.player-1-panel, .player-2-panel {
	float: left;
	height: 600px;
	padding: 100px;
	width: 50%;
}
.player-name {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.player-score {
	color: #EB4D4D;
	font-size: 80px;
	font-weight: 100;
	margin-bottom: 130px;
	text-align: center;
}
.active {
	background-color: #f7f7f7;
}
.active .player-name {
	font-weight: 300
}
.active .player-name::after {
	content: "\2022";
	font-size: 47px;
	position: absolute;
	color: #EB4D4D;
	top: -7px;
	right: 10px;
}
.player-current-box {
	background-color: #EB4D4D;
	color: #fff;
	width: 40%;
	margin: 0 auto;
	padding: 12px;
	text-align: center;
}
.player-current-label {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 12px;
	color: #222;
}
.player-current-score {
	font-size: 30px;
}
/* Buttons */
button {
	position: absolute;
	width: 200px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #555;
	background: none;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;
	-webkit-transition: background-color 0.3s, color 0.3s;
	-moz-transition: background-color 0.3s, color 0.3s;
	-ms-transition: background-color 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
button:hover {
	font-weight: 600;
}
button:hover i {
	margin-right: 20px;
}
button:focus {
	outline: none;
}
.btn-new-game {
	top: 45px;
}
.btn-roll-dice {
	top: 403px;
}
.btn-hold {
	top: 467px;
}
i {
	color: #EB4D4D;
	display: inline-block;
	font-size: 32px;
	line-height: 1;
	margin-right: 15px;
	margin-top: -4px;
	-webkit-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
	-ms-transition: margin 0.3s;
	-o-transition: margin 0.3s;
	transition: margin 0.3s;
	vertical-align: text-top;
}
.dice {
	-webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.10);
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.10);
	height: 100px;
	position: absolute;
	top: 178px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.player-final-score {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 520px;
	color: #555;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 10px;
	width: 160px;
	text-transform: uppercase;
}
.player-final-score:focus {
	outline: none;
}
#dice-1 {
	top: 120px;
}
#dice-2 {
	top: 250px;
}
.winner {
	background-color: #f7f7f7;
}
.winner .player-name {
	font-weight: bold;
	color: #EB4D4D;
}
.btn-new-game, .btn-roll-dice, .btn-hold {
	background-color: #f7f7f7;
}
.btn-new-game, .btn-roll-dice, .btn-hold {
	padding: 5px 0;
}
